[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

modernize = "*"


[packages]

numpy = "*"
pydub = "*"
six = "*"
matplotlib = "*"
scipy = "*"
sqlalchemy = "*"
pyaudio = "*"
mysql-connector-python = "*"


[requires]

python_version = "3.5"
